<div class="profile-photo picture"
     itemscope itemtype="http://schema.org/ImageObject">
        <picture>
            {{ if .Params.ImgOther }}
            {{ range .Params.ImgOther }}
            <source srcset="{{ .name }}"{{ if .type }} type="{{ .type }}"{{ end }}>
            {{ end }}
            {{ end }}
            <source srcset="{{ .Params.Imgname.Name }}"
                    {{ if .Params.Imgname.Type }} type="{{ .Params.Imgname.Type }}"{{ end }}>
            <img class="main-image u-photo"
            itemprop="contentUrl" alt="{{ .Params.Imgname.Alt }}"
            src="{{ .Params.Imgname.Name }}">
        </picture>
</div>
