<nav class="container mx-auto my-2.5">
    <div class="flex justify-start items-center">
        <!-- Navigation Links -->
        <ul class="flex items-center text-lg pl-0">
            <!-- Home Link -->
            <li class="p-2.5 border-b dark:border-zinc-500 list-none">
                <a class="text-zinc-600 dark:text-zinc-300 hover:border-b-0" href="{{ .Site.BaseURL }}">Home</a>
            </li>
            <!-- CV Link -->
            <li class="p-2.5 border-b dark:border-zinc-500 list-none">
                <a class="text-zinc-600 dark:text-zinc-300 hover:border-b-0" href="https://drive.google.com/file/d/1yTwRUV5zgMtQgBIDArkqdmz5V8O3SN9i/view?usp=share_link" target="_blank">CV</a>
            </li>
        </ul>
    </div>
</nav>
